/* 폰트 설정 */
/* @font-face */

/* Desktop 우선 */
/* 992px 이상 */


html{
    box-sizing: border-box;
}

*,
*:before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#App{
    max-width: 1200px;
    margin: 1.5em auto;
}

.SearchBlock{
    width: 100%;
}

.SearchInput{
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 10px 15px;
    margin-top: 10px;
}

.SearchWords{
    /* margin: 10px 0; */
    padding: 10px;
}

.SearchWords .searchWord{
    margin-right: 1rem;
    cursor: pointer;
}

.SearchWords .searchWord:hover{
    color: gray
}

.SearchResult{
    margin-top: 10px;
    display: grid;
    /* 4개의 열, 최소 250px 넓이 or 1/4 크기 */
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 10px;
}

.SearchResult img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ImageInfo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.ImageInfo .content_block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    color: black;
    border: 1px solid #eeeeee;
    z-index: 100;
    border-radius: 5px;
}

.ImageInfo .title, 
.ImageInfo .description{
    padding: 5px;
}

.ImageInfo .title{
    display: flex;
    justify-content: space-between;
}

.ImageInfo .title button{
    border: none;
    background: transparent;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.ImageInfo .content_block img{
    width: 100%;
}

/* 992px 이하 */
@media screen and (max-width: 992px){
    .SearchResult{
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}
/* 768px 이하 */
@media screen and (max-width: 768px){
    .SearchResult{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    .ImageInfo .content_block{
        width: 100%;
    }

}
/* 576px 이하*/
@media screen and (max-width: 576px){
    .SearchResult{
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}


/* dark mode */
@media (prefers-color-scheme: dark){
    body{
        color: #ffffff;
        background: #000000;
    }
}

.ligth_mode{
    color: #000000;
    background: #ffffff;
}