.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.slide{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.prev, .next{
    width: 100px;
    height: 100px;
    font-size: 5rem;
    cursor: pointer;
    text-align: center;
}

.slide_container{
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    transition: ease-out 0.5s;
}

.slide_box{
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 5rem;
}

.slide_box:nth-child(5n+1){
    background-color: #00FFFF;

}
.slide_box:nth-child(5n+2){
    background-color: #FFE4C4;
}
.slide_box:nth-child(5n+3){
    background-color: #D2691E;
}
.slide_box:nth-child(5n+4){
    background-color: #5F9EA0;
}
.slide_box:nth-child(5n){
    background-color: #6495ED;
}
